.PlaylistHeader {
    display: flex;
    padding:74px 20px 16px 20px;
    gap: 20px;
    background: transparent;
}
  
#playlistImage {
    height: 230px;
    width: 230px;
    background-color: black;
}
#playlistImage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#playlistDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
  
#playlistTitle{
    font-size: 100px;
    margin: 0px 0px 15px 0px
}

#playlistDetails p{
    margin: 0;
}

#playlistDescription{
    color: #b3b3b3;
}
.PlaylistHeader span{
    margin-top: 10px;
}