.PlaylistHeader {
    border: 1px solid white;
    display: flex;
    padding: 20px;
    gap: 20px;
}
  
#playlistImage {
    height: 230px;
    width: 230px;
    background-color: black;
}

#playlistDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
  
#playlistTitle{
    font-size: 100px;
    margin: 0px 0px 15px 0px
}

#playlistDetails p{
    margin: 0;
}

#playlistDescription{
    color: #b3b3b3;
}
.PlaylistHeader span{
    margin-top: 10px;
}