.category{
    aspect-ratio: 1;
    
    background-color: rgb(25, 164, 0);
    border-radius: 10px;
    padding: 16px 12px;
    font-size: 20px;
    color: white;
    line-height: 1.75;
    overflow: hidden;
    
}
.category p{ 
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-height: 100%;
}