.ContentTableContainer{
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}

.ContentTableHeader{
    display: grid;  
    width: 100%;
    grid-template-columns: 5% 35% 32.5% 10% 5% 7.5% 5% ;
}

.ContentTableHeader span{
    border: 1px solid green;
}