.ItemSection{
    margin: 15px 0px;
}
.SectionTitle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.ItemTileContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
}