body{
  overflow: hidden;
}
.App {
  font-family: 'montserrat semibold';
  color: white;
  background-color: #121212;
  height: 100vh;
  display: grid;
  grid-template-columns: 15% 85%;
  overflow:hidden;
  text-overflow: ellipsis;
}

